<section class="hero-container">
  <canvas #heroCanvas></canvas>

  <div class="content">
    <div class="text-group">
      <h3 class="reveal-text">Software Engineer</h3>
      <h1 class="glitch-name">Dnyaneshwar Nikam</h1>
      <h2 class="role">Designing and developing scalable digital applications supported by robust, future-ready system architectures.</h2>

      <p class="description">
  Skilled in <strong>Cloud Computing</strong>, <strong>Angular</strong>, <strong>Android Development</strong>, and <strong>Java</strong>,
  I build scalable and efficient applications that combine strong backend architecture with intuitive frontend experiences.
</p>


      <div class="btn-group">
       <button class="btn primary" (click)="goToContact()">
  Start a Project
</button>
        <a href="assets/resume/resume.pdf" download="dnyanehwar-nikam-resume.pdf" class="btn outline resume-btn">
  <mat-icon>file_download</mat-icon>
  Download Resume
</a>
      </div>
    </div>
  </div>

  <div class="scroll-indicator">
    <span>SCROLL</span>
    <div class="line"></div>
  </div>
</section>
