<section class="hero-container">
  <canvas #heroCanvas></canvas>

  <div class="content">
    <div class="text-group">
      <h3 class="reveal-text">Creative Engineer</h3>
      <h1 class="glitch-name">Dnyaneshwar Nikam</h1>
      <h2 class="role">Building Scalable Digital Architecture</h2>

      <p class="description">
        Specializing in <strong>Angular</strong>, <strong>Node.js</strong>, and <strong>Interactive 3D Graphics</strong>.
        I bridge the gap between complex backend logic and immersive frontend storytelling.
      </p>

      <div class="btn-group">
        <button class="btn primary">Start a Project</button>
        <a href="assets/resume/resume.pdf" download="dnyanehwar-nikam-resume.pdf" class="btn outline resume-btn">
  <mat-icon>file_download</mat-icon>
  Download Resume
</a>
      </div>
    </div>
  </div>

  <div class="scroll-indicator">
    <span>SCROLL</span>
    <div class="line"></div>
  </div>
</section>
